header {
    text-align: center;
    padding-bottom: 50px;
  
    h1 {
      font-size: 3.75em;
      font-weight: bold;
      letter-spacing: 3px;
      color: rgb(255, 38, 201);
      text-shadow: 0 0 3px #ffffff, 0 0 2px cyan;
      padding-top: 100px;
    }
  
    h3 {
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 2.5px;
      color: yellow;
      text-shadow: 0 0 2px #ffffff;
    }

    @media only screen and (max-width: 768px) {
      padding-bottom: 10px;

      h1 {
          font-size: 2.5em;
          letter-spacing: 2px;
          padding-top: 25px;
      }
      h3 {
          font-size: 0.85em;
          letter-spacing: 1.5px;
          line-height: 5px;
      }
    }
  }
  