span {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: lightseagreen;
    opacity: 0.8;
    border-radius: 5px;
    padding: 5px 10px;
}

.quote-container {
    width: 80%;
    max-width: 500px;
    min-height: 100px;
    background-color: rgba(224, 184, 213, 0.9);
    border: 1px solid rgb(255, 38, 201);
    padding: 0.7rem;
    margin-top: 5px;
    margin-bottom: 25px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
}

.quote-text {
    font-family: 'Special Elite', 'Courier New', Courier, monospace, sans-serif;;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    line-height: 1.5;
}

button {
    background-color: yellow;
    border-radius: 35px;
    color: rgb(255, 38, 201);
    padding: 7px 20px;
    display: inline-block;
    font-family: 'Trebuchet MS';
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 5px auto;
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: 0px 3px 4px 0px rgba(252, 255, 78, 0.642);

    &:hover {
        background-color: rgb(255, 38, 201);
        color: yellow;    }

    &:disabled {
        background-color: lightgray;
        color: grey;
        cursor: not-allowed;
    }
}


@media only screen and (max-width: 600px) {
    button {
        font-size: 0.8rem;
        letter-spacing: 0.6px;
    }

    .quote-text {
        font-size: 0.8rem;
        letter-spacing: 0.7px;
    }

    .quote-container {
        margin-bottom: 15px;
    }

    span {
        font-size: 0.8rem;
    }

}

