span {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px
}

.quote-container {
    width: 80%;
    max-width: 500px;
    min-height: 100px;
    background-color: rgba(224, 184, 213, 0.9);
    border: 3px solid rgb(255, 38, 201);
    padding: 0.7rem;
    margin: 20px auto;
    border-radius: 15px;
    text-align: center;
}

.quote-text {
    font-family: 'Special Elite', sans-serif;;
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
    color: black;
    line-height: 1.5;
}

button {
    background-color: yellow;
    border: yellow;
    border-width: 5px;
    border-radius: 35px;
    color: rgb(255, 38, 201);
    padding: 15px 25px;
    text-decoration: underline;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: 15px;
    transition-duration: 0.4s;
    cursor: pointer;

    &:hover {
        background-color: rgb(255, 38, 201);
        color: yellow;    }

    &:disabled {
        background-color: lightgray;
        color: grey;
        cursor: not-allowed;
    }
}


@media only screen and (max-width: 600px) {
    button {
        font-size: 0.7rem;
    }

    .quote-text {
        font-size: 0.8rem;
    }

    span {
        font-size: 0.8rem;
    }

}

