span {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background-color: lightseagreen;
    opacity: 0.8;
    border-radius: 5px;
    padding: 5px 10px;
}

textarea {
    width: 80%;
    max-width: 500px; 
    min-height: 100px;
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    padding: 0.7rem;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 1rem;
    background-color: rgba($color: #cccccc, $alpha: 0.7);
    caret-color: yellow;
}

::placeholder {
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;  
    opacity: 0.5; 
  }

.error-msg {
    color: white;
    background-color: lightcoral;
    font-size: 0.7rem;
    padding: 0.3rem;
    margin-top: 0.7rem;
}

button {
    background-color: yellow;
    border-radius: 35px;
    color: rgb(255, 38, 201);
    padding: 7px 20px;
    display: inline-block;
    font-family: 'Trebuchet MS';
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin: 5px auto;
    transition: all 0.4s ease;
    cursor: pointer;
    box-shadow: 0px 3px 4px 0px rgba(252, 255, 78, 0.642);

    &:hover {
        background-color: rgb(255, 38, 201);
        color: yellow;    }

    &:disabled {
        background-color: lightgray;
        color: grey;
        cursor: not-allowed;
    }
}

@media only screen and (max-width: 600px) {
    textarea {
        font-size: 0.8rem;
        margin-bottom: 15px;
    }

    span {
        font-size: 0.8rem;
        margin-top: auto;
    }

    button {
        font-size: 0.8rem;
        letter-spacing: 0.6px;
        margin-bottom: auto;
    }

    .error-msg {
        font-size: 0.8rem;
    }
}
