body {
    background: url('/assets/images/EuclideFakeBackground.svg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
body {
    font-family: 'Roboto', sans-serif;
  }
