body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  body::before {
    content: "";
    position: fixed;
    scale: 1.3;
    width: auto; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/images/EuclideFakeBackground.svg') no-repeat center center;
    background-size: cover;
}

  
app-user-input, app-quantum-cookies-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
 }

 .app-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 100px;
}


